<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
</head>

<body>

    <div id="map" style="height: 730px; width: 730px; border-radius: 500px;"></div>

    <style>
        .custom-icon {
            background-color: #165a0a;
            border-radius: 50%;
            text-align: center;
            color: white;
        }

        .icon-label {
            line-height: 25px;
            /* Match the height of the icon */
        }
    </style>

    <script>
        var map = L.map('map').setView([47.7, -122.7], 8);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        {{ repeater_pins }}
    </script>


</body>

</html>